# Rust
/debug
/target
Cargo.lock
**/*.rs.bk

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.pyo
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.hypothesis/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.cache
nosetests.xml
coverage.xml

# Virtual environments / packaging
.venv/
venv/
env/
ENV/
.Python
build/
dist/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
include/
man/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

# Notebook / docs
.ipynb_checkpoints/
docs/_build/

# Local env / IDE
.python-version
.DS_Store
**/.DS_Store
.idea/
**/.idea/
.vscode/
.mr.developer.cfg
.project
.pydevproject
.ropeproject

# macOS debug symbols
*.dSYM/
